//  页面上的带标题方块
.box{
  width:916px;
  padding: 30px;
  margin-bottom: 20px;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  border-radius:16px;
  border:1px solid rgba(7,95,255,1);
  box-shadow:0 0 50px 0 rgba(7,95,255,1) inset;
  background:linear-gradient(180deg,rgba(2,37,97,1) 0%,rgba(32,20,97,1) 100%);
  .box-title{
    height:28px;
    margin-bottom: 5px;
    line-height:28px;
    font-size:28px;
    font-weight:600;
    color:rgba(68,202,255,1);
  }
}

// 竖直方向上居中对齐的方块
.colBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
// 水平方向上居中对齐的方块
.rowBox{
  display: flex;
  justify-content: center;
  align-items: center;
}
